---
import SectionHeading from '../SectionHeading/SectionHeading';
import NextSectionArrow from '../NextSectionArrow/NextSectionArrow';
import ProjectCard from './ProjectCard';
import './index.css';
---

import tmerge from './images/tmerge.webp';
import tmergeJpg from './images/tmerge.jpg';
import sqantiExplorer from './images/SQANTI-Explorer.webp';
import sqantiExplorerJpg from './images/SQANTI-Explorer.jpg';
import jReact from './images/jReact.webp';
import jReactJpg from './images/jReact.jpg';
import webpackify from './images/webpackify.webp';
import webpackifyJpg from './images/webpackify.jpg';
import pathwayPresenter from './images/PathwayPresenter.webp';
import pathwayPresenterJpg from './images/PathwayPresenter.jpg';
import metabMaster from './images/MetabMaster.webp';
import metabMasterJpg from './images/MetabMaster.jpg';
import pubchem from './images/pubchem.webp';
import pubchemJpg from './images/pubchem.jpg';
import react from './images/react.webp';
import reactJpg from './images/react.jpg';
import projectCatalogue from './images/project-catalogue.png';
import projectCataloguePng from './images/project-catalogue.png';
import gitlab from './images/gitlab.webp';
import gitlabPng from './images/gitlab.png';
import monitoring from './images/monitoring.webp';
import monitoringPng from './images/monitoring.png';
import portfolio from './images/portfolio.webp';
import portfolioPng from './images/portfolio.png';
---

<SectionHeading heading="Projects" />
<div class="projects-container">
  <ProjectCard
    client:load
    heading="HCA Project Catalogue"
    imgSrc={projectCatalogue}
    fallbackSrc={projectCataloguePng}
    body="A comprehensive list of cellular resolution datasets for the Human Cell Atlas."
    tags={["Angular", "Riot.js", "JavaScript", "TypeScript", "Java"]}
    link="https://www.ebi.ac.uk/humancellatlas/project-catalogue/"
    size="large"
  />
  <ProjectCard
    client:load
    heading="Cluster Monitoring"
    imgSrc={monitoring}
    fallbackSrc={monitoringPng}
    body="High end monitoring solution for EBI allowing the tracking of performance degradation and error logs across the entire range of clusters and environments."
    tags={["Grafana", "Prometheus", "Loki", "Kubernetes", "Helm"]}
    size="large"
  />
  <ProjectCard
    client:load
    heading="Advanced CI/CD"
    imgSrc={gitlab}
    fallbackSrc={gitlabPng}
    body="Continuous integration &amp; deployment for EBI bringing the team into the modern era of application deployment. Created new development flows for the team and gave various presentations and Q&amp;A sessions to aid the transition."
    tags={["GitLab", "Helm", "Kubernetes", "GNU Make", "Bash"]}
    size="large"
  />
  <ProjectCard
    client:load
    heading="tmerge"
    imgSrc={tmerge}
    fallbackSrc={tmergeJpg}
    body="Builds highly accurate transcripts from long-read RNA data. More accurate than competing tools."
    tags={["Bioinformatics", "RNA-Seq", "Python", "R", "Nextflow"]}
    link="https://github.com/jacobwindsor/tmerge"
    size="large"
  />
  <ProjectCard
    client:load
    heading="SQANTI Explorer"
    imgSrc={sqantiExplorer}
    fallbackSrc={sqantiExplorerJpg}
    body="Explore isoform classifications with SQANTI Explorer."
    tags={["Bioinformatics", "R", "Shiny", "Docker", "RNA-Seq", "Plotly"]}
    link="https://github.com/jacobwindsor/SQANTIExplorer"
    size="large"
  />
  <ProjectCard
    client:load
    heading="Portfolio"
    body="This website. Click the link to view the code."
    tags={["React", "JavaScript", "GitHub Actions", "SVG", "CSS", "UI"]}
    link="https://github.com/jacobwindsor/jacobwindsor.github.io"
    imgSrc={portfolio}
    fallbackSrc={portfolioPng}
    size="large"
  />
  <ProjectCard
    client:load
    heading="jReact"
    imgSrc={jReact}
    fallbackSrc={jReactJpg}
    body="Use React style components with jQuery and support down to IE9. Done for abcam."
    tags={["JavaScript", "Functional Programming", "jQuery"]}
    size="large"
  />
  <ProjectCard
    client:load
    heading="Webpackify"
    imgSrc={webpackify}
    fallbackSrc={webpackifyJpg}
    body="Overhauled abcam.com to use Webpack."
    tags={["JavaScript", "Webpack"]}
    size="large"
  />
  <ProjectCard
    client:load
    heading="Pathway Presenter"
    imgSrc={pathwayPresenter}
    fallbackSrc={pathwayPresenterJpg}
    body="Create dynamic &amp; beautiful presentations from the pathways on WikiPathways!"
    tags={["Bioinformatics", "JavaScript", "SVG", "React", "Angular"]}
    link="https://github.com/jacobwindsor/pathway-presenter"
    size="large"
  />
  <ProjectCard
    client:load
    heading="MetabMaster"
    imgSrc={metabMaster}
    fallbackSrc={metabMasterJpg}
    body="Create stories for the pathways on WikiPathways! Award winning piece of work."
    tags={["Bioinformatics", "JavaScript", "SVG", "React", "Angular"]}
    link="https://github.com/jacobwindsor/MetabMaster"
    size="large"
  />
  <ProjectCard
    client:load
    heading="PubChem Ranker"
    imgSrc={pubchem}
    fallbackSrc={pubchemJpg}
    body={["Rank compounds by the abundance of information found on PubChem and other databases."]}
    tags={["Cheminformatics", "Flask", "Python", "Web Scraping"]}
    link="https://github.com/jacobwindsor/pubchem-ranker"
    size="large"
  />
  <ProjectCard
    client:load
    heading="React Aspectral"
    imgSrc={react}
    fallbackSrc={reactJpg}
    body="Simple higher order component that allows for the dynamic resizing of React components to a given aspect ratio."
    tags={["React", "JavaScript"]}
    link="https://github.com/jacobwindsor/react-aspectral"
    size="large"
  />
</div>
<NextSectionArrow sectionName="Experience" client:load />

<style>
  .projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.4rem;
  }
</style>

